
/* homepage */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color:lightblue;
    border-bottom-style: solid;
}
.navbar nav{
    flex: 1;
    text-align: right;
}
.navbar nav ul{
    display: inline-block;
    list-style-type: none;
}
.navbar nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.navbar nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-family: monospace;
}
.navbar nav ul li a:hover{
    background-color: black;
}
.col-2 h1{
    /* border: 1px solid black; */
    width: 30vw;
    margin-top: 15vh;
    color:yellow;
}
.col-2 h3{
    margin-top: 10px;
    color: lightgoldenrodyellow;
}
.col-2 .quote{
    /* border: 1px solid black; */
    width: 30vw;
    color:black;
    margin-top: 30px;
}


#homebody{
    background-color:lightblue;
}
#websiteName{
    position: relative;
    right: -60px;
    top: -40px;
    color:wheat;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.btn1{
    background-color: rgba(8, 184, 8, 0.988);
    color: whitesmoke;
    width: 175px;
    height: 45px;
    border-radius: 7px;
    margin-top: 75vh;
    margin-left: 0vw;
}
.home1{
    margin-top: 15vh;
    margin-left: 10vw;
    width: 40vw;
    height: 50vh;
}
.container h2{
    position: relative;
    left: 25%;
    margin-top: 15vh;
}
.homeImage{
    column-count: 3;
    display: inline-block;
}
.homeimg{
    
    width: 200px;
    height: 250px;
    margin-top: 10px;
    border: 2px solid black;
    margin-left: 7vw;
    margin-right: 7vw;
}

.homeimg:hover{
    transform: scale(1.2);
}
.homeImage p{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 100px;
}



/* productpage */
#productheading{
    margin-top: 20px;
    text-align: center;
    
}
.sorting{
    position: absolute;
    top: 155px;
    right: 200px;
    width: 200px;
    /* border: 2px solid red; */
}
#sortingtype{
    padding: 5px;
    border-radius: 5px;
    right: -20px;
    position: absolute;
}
.product{
    column-count: 3;
}
.productimg{
    width: 280px;
    height: 300px;
    margin-top: 30px;
    border: 2px solid black;
    margin-left: 7vw;
}
.productimg:hover{
    transform: scale(1.2);
}
.product p{
    margin-left: 7vw;
}
#productbody{
    background-color:lightblue;
    /* background-image: url(""); */
}

/* loginpage */
#loginbody{
    /* background-image: url('images/loginback.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    background-color:lightblue;
}
.loginform{
    display: flex;
    width: 30vw;
    flex-direction: column;
    margin-left: 33vw;
    margin-top: 10vh;
    height: 70vh;
    border-radius: 40px;
    background-color: rgb(0,0,0,0.3);
}
.loginform h2{
    margin-top: 6vh;
    text-align: center;
    color: white;
    font-size: 35px;
}
input{
    width: 28vw;
    height: 5vh;
    /* margin-top: 4vh; */
    margin-left: 1vw;
}
.loginform button{
    margin-left: 10vw;
    width: 10vw;
    height: 7vh;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 5px 5px gray;
    border-radius: 15px;
}
.loginform label{
    margin-top: 6vh;
    margin-left: 1vw;
    font-size: 20px;
    color: white;
}
.loginform button:hover{
    background-color: black;
    color: white;
}

/* create registerpage */
.registerform{
    display: flex;
    width: 30vw;
    flex-direction: column;
    margin-left: 33vw;
    margin-top: 10vh;
    height: 89vh;
    border-radius: 40px;
    background-color: rgb(0,0,0,0.3);
}
.registerform h2{
    margin-top: 6vh;
    text-align: center;
    color: white;
    font-size: 35px;
}
#registerbody{
    background-color: lightblue;
}
.registerform button{
    margin-left: 10vw;
    width: 10vw;
    height: 7vh;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 5px 5px gray;
    border-radius: 15px;
}
.registerform label{
    margin-top: 6vh;
    margin-left: 20px;
    font-size: large;
}


/* forgot page */
.forgotform{
    display: flex;
    width: 30vw;
    flex-direction: column;
    margin-left: 33vw;
    margin-top: 10vh;
    height: 70vh;
    border-radius: 40px;
    background-color: rgb(0,0,0,0.3);
}
.forgotform h2{
    margin-top: 6vh;
    text-align: center;
    color: white;
    font-size: 35px;
}
.forgotform button{
    margin-top: 4vh;
    margin-left: 7vw;
    width:15vw;
    height: 6vh;
}

/* css for contacts */

.contactImg{
	width: 100%;
	height: 100vh;
	background-image: url("images/contact.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;

}
.contactImg h1{
	padding-top: 20vh;
	color: white;
}
.contactImg p{
	color: white;
}
.contactInfo{
	width: 100%;
	display: flex;
}
.contactInfo i{
	font-size: 10vh;
	padding-top: 5vh;
	padding-bottom: 5vh;
	color: purple;

}
.contactInfo p{
	color:black;
}
.num{
	width: 30%;
	height: 50vh;
	border:0.5px solid black;
	margin-left : 20%;
	margin-top: 10vh;
	margin-right: 3vh;
	background-color: white;
	border-radius: 10px;
}
.num a{
	text-decoration: none;
	color:skyblue;
}

.contactInfo i:hover{
	color: orange;
}

.costumer{
	width: 30%;
	height: 50vh;
	border:0.5px solid black;
	margin-right: 20%;
	margin-top: 10vh;
	margin-left: 3vh;
	background-color: white;
	border-radius: 10px;
}
.costumer button{
	width: 20vh;
	height: 9vh;
	background-color: orange;
}

.cont-btn{
    width: 10vw;
    height: 7vh;
    margin: 0;
    margin-top: -5vh;
}
.contactBody{
    background-color: lightblue;
}

/* accountpage */

.signin-signup{
    border: 2px solid black;
    height:60vh;
    width: 25vw;
    margin-left: 40vw;
    margin-top: 10vh;border-radius: 20px;
    background-color: orange;
}
.signin-signup h1{
    margin-top: 5vh;
    text-align: center;

}
.option{
    /* border: 2px solid black; */
    margin-top: 11vh;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
  
}
.option a{
    text-align: center;
    padding: 20px;
    color: black;
}
.option a:hover{
    background-color: black;
    color:white;
}
#optionaccount{
    background-color: lightblue;
}

/* aboutus page */

.aboutbody{
    background-color:lightblue;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vh;
    width: 100%;
    
}
.mission{
    text-align: center;
    margin-top: 150px;
    color: green;
}
#mission{
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
}
.whoarewecontainer{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin-left: 100px;

}
.devloperimg{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 800px;
    position: absolute;
    /* border: 1px solid black; */
    right: 15px;
    z-index: 1;
    top: 110px;
}
#imagedeveloper{
    margin: 20px;
    width: 150px;
    height: 150px;
}
#imgdev{
    margin-right: 40px;
}
